$whitebook-primary-color: #191847;
$whitebook-secondary-color: #f5850b;
$white-color: #fff;
$black-color: #151516;
$gray-scale-color-1: #f4f3f6;
$gray-scale-color-2: #e1dee8;
$gray-scale-color-3: #c9c5d4;
$gray-scale-color-4: #666173;
$error-color: #e71b26;
