@use "../../../styles/index.scss" as *;

.Container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 3.1rem 6.8rem 0;
  height: 6.1rem;
  box-sizing: content-box;
}

.Button {
  grid-column: 1;
  justify-self: start;
}

.Logo {
  grid-column: 2;
  justify-self: center;
}
