@use "../../../styles/index" as *;

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.311rem;
}

.IuguText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  color: $gray-scale-color-3;
  margin-top: 1.381rem;
}

.Grayscale {
  filter: grayscale(100%);
  opacity: 0.85;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.Selected {
  filter: none;
  opacity: 1;
}
